In [4]:
# COMPATIBILITA' CON IL RANABASE

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import os
import sys
import plotly.graph_objects as go 
from scipy.optimize import curve_fit
from scipy.stats import norm
dir_path = os.path.abspath('')
sys.path.append(dir_path + '/../')
from labbiofisica import Interpolazione, final_val

In [5]:
RANABASE = pd.read_csv('data/RANABASE.csv', sep = ',', decimal = '.')
display(RANABASE)

                     Specie   CLD   CSD  RATIO C   NLD  NSD  RATIO N
0   Limnonectes limnocharis  19.6  13.2     0.67   7.9  4.9     0.62
1    Pyxicephalus adspersus   NaN   NaN      NaN   NaN  NaN      NaN
2          Rana catesbeiana  25.0  12.4     0.50   9.9  5.7     0.58
3                       " "  24.8  15.3     0.62   NaN  NaN      NaN
4                       " "  26.1  13.5     0.52  10.0  5.6     0.56
5                       " "  27.9  15.4     0.55  10.3  5.6     0.54
6                       " "  25.7  14.2     0.55   NaN  NaN      NaN
7            Rana clamitans  22.5  15.0     0.67   NaN  NaN      NaN
8                       " "  23.0  11.9     0.52   NaN  NaN      NaN
9            Rana esculenta  25.4  17.6     0.69   NaN  NaN      NaN
10            Rana japonica  21.8  14.3     0.66   8.9  5.3     0.60
11       Rana nigromaculata  21.8  14.3     0.66   9.3  5.5     0.59
12           Rana palustris  20.4  12.7     0.62   NaN  NaN      NaN
13             Rana pipiens  21.5  12.2     0.57   8.8  5.2     0.59
14                      " "  23.8  16.2     0.68   NaN  NaN      NaN
15                      " "  20.5  13.2     0.64   NaN  NaN      NaN
16              Rana porosa  22.9  14.9     0.65   8.5  5.4     0.64
17              Rana rugosa  26.6  16.1     0.61  12.0  6.4     0.53
18           Rana sylvatica  25.5  16.5     0.65   NaN  NaN      NaN
19               Rana tagoi  24.5  14.2     0.58  10.0  5.7     0.57
20          Rana temporaria  22.9  13.9     0.61   8.2  4.0     0.49
21                      " "  24.6  16.9     0.69   NaN  NaN      NaN
22        Rana tsushimensis  22.2  14.2     0.64   9.5  5.1     0.54

In [6]:
# Citoratio:  0.63 ± 0.03 
# Nucleoratio:  0.55 ± 0.03 
# CLD:  22.9 ± 2.8 μm
# CSD:  13.7 ± 1.8 μm
# NLD:  8.2 ± 1.0 μm
# NSD:  4.4 ± 0.7 μm

citoratio = 0.63
nucleoratio = 0.55
scitoratio = 0.03
snucleoratio = 0.03

CLD = 22.9
CSD = 13.7
NLD = 8.2
NSD = 4.4

sCLD = 2.8
sCSD = 1.8
sNLD = 1.0
sNSD = 0.7

In [7]:
tCSD = np.round(np.abs(CSD - RANABASE['CSD']) / sCSD, 2)
tCLD = np.round(np.abs(CLD - RANABASE['CLD']) / sCLD, 2)
tNLD = np.round(np.abs(NLD - RANABASE['NLD']) / sNLD, 2)
tNSD = np.round(np.abs(NSD - RANABASE['NSD']) / sNSD, 2)

tCitoratio = np.round(np.abs(citoratio - RANABASE['RATIO C']) / scitoratio, 2)
tNucleoratio = np.round(np.abs(nucleoratio - RANABASE['RATIO N']) / snucleoratio, 2)

In [8]:
RANABASE['tCSD'] = tCSD
RANABASE['tCLD'] = tCLD
RANABASE['tNLD'] = tNLD
RANABASE['tNSD'] = tNSD
RANABASE['tCitoratio'] = tCitoratio
RANABASE['tNucleoratio'] = tNucleoratio

display(RANABASE)

,Specie,CLD,CSD,RATIO C,NLD,NSD,RATIO N,tCSD,tCLD,tNLD,tNSD,tCitoratio,tNucleoratio
0,Limnonectes limnocharis,19.6,13.2,0.67,7.9,4.9,0.62,0.28,1.18,0.3,0.71,1.33,2.33
1,Pyxicephalus adspersus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rana catesbeiana,25.0,12.4,0.50,9.9,5.7,0.58,0.72,0.75,1.7,1.86,4.33,1.00
3,""" """,24.8,15.3,0.62,NaN,NaN,NaN,0.89,0.68,NaN,NaN,0.33,NaN
4,""" """,26.1,13.5,0.52,10.0,5.6,0.56,0.11,1.14,1.8,1.71,3.67,0.33
5,""" """,27.9,15.4,0.55,10.3,5.6,0.54,0.94,1.79,2.1,1.71,2.67,0.33
6,""" """,25.7,14.2,0.55,NaN,NaN,NaN,0.28,1.00,NaN,NaN,2.67,NaN
7,Rana clamitans,22.5,15.0,0.67,NaN,NaN,NaN,0.72,0.14,NaN,NaN,1.33,NaN
8,""" """,23.0,11.9,0.52,NaN,NaN,NaN,1.00,0.04,NaN,NaN,3.67,NaN
9,Rana esculenta,25.4,17.6,0.69,NaN,NaN,NaN,2.17,0.89,NaN,NaN,2.00,NaN
10,Rana japonica,21.8,14.3,0.66,8.9,5.3,0.60,0.33,0.39,0.7,1.29,1.00,1.67
11,Rana nigromaculata,21.8,14.3,0.66,9.3,5.5,0.59,0.33,0.39,1.1,1.57,1.00,1.33
12,Rana palustris,20.4,12.7,0.62,NaN,NaN,NaN,0.56,0.89,NaN,NaN,0.33,NaN
13,Rana pipiens,21.5,12.2,0.57,8.8,5.2,0.59,0.83,0.50,0.6,1.14,2.00,1.33
14,""" """,23.8,16.2,0.68,NaN,NaN,NaN,1.39,0.32,NaN,NaN,1.67,NaN
15,""" """,20.5,13.2,0.64,NaN,NaN,NaN,0.28,0.86,NaN,NaN,0.33,NaN
16,Rana porosa,22.9,14.9,0.65,8.5,5.4,0.64,0.67,0.00,0.3,1.43,0.67,3.00
17,Rana rugosa,26.6,16.1,0.61,12.0,6.4,0.53,1.33,1.32,3.8,2.86,0.67,0.67
18,Rana sylvatica,25.5,16.5,0.65,NaN,NaN,NaN,1.56,0.93,NaN,NaN,0.67,NaN
19,Rana tagoi,24.5,14.2,0.58,10.0,5.7,0.57,0.28,0.57,1.8,1.86,1.67,0.67
20,Rana temporaria,22.9,13.9,0.61,8.2,4.0,0.49,0.11,0.00,0.0,0.57,0.67,2.00
21,""" """,24.6,16.9,0.69,NaN,NaN,NaN,1.78,0.61,NaN,NaN,2.00,NaN
22,Rana tsushimensis,22.2,14.2,0.64,9.5,5.1,0.54,0.28,0.25,1.3,1.00,0.33,0.33

In [46]:
colls =  ['Specie', 'tCSD', 'tCLD', 'tNLD', 'tNSD', 'tCitoratio', 'tNucleoratio']
RANABASET = RANABASE.loc[0:22,colls] # 0:22
# display(RANABASET.iloc[5][1:].to_numpy(dtype=np.float64))

In [ ]:
import plotly.express as px
import pandas as pd
from plotly.subplots import make_subplots
fig = make_subplots(rows=6, cols=4, specs=[[{'type': 'polar'}]*4]*6, horizontal_spacing=0.1, vertical_spacing=0.1)

for i in range(len(RANABASET)):
    v = RANABASET.iloc[i][1:].to_numpy(dtype=np.float64)
    df = pd.DataFrame(dict(
        r=v,
        theta=['tCSD', 'tCLD', 'tNLD', 'tNSD', 'tCR', 'tNR']))
    polar_fig = px.line_polar(df, r='r', theta='theta', line_close=True)
    polar_fig.update_traces(fill='toself')
    #polar_fig.update_layout(polar=dict(radialaxis=dict(tickvals=[0, 1, 2, 3, 4])))

    row = i // 4 + 1
    col = i % 4 + 1
    for trace in polar_fig['data']:
        fig.add_trace(trace, row=row, col=col)

fig.update_layout(height=1500, width=1000, showlegend=False)
fig.show()