In [3]:
# COMPATIBILITA' CON IL RANABASE

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import os
import sys
import plotly.graph_objects as go 
from scipy.optimize import curve_fit
from scipy.stats import norm
dir_path = os.path.abspath('')
sys.path.append(dir_path + '/../')
from labbiofisica import Interpolazione, final_val

In [5]:
RANABASE = pd.read_csv('data/RANABASE.csv', sep = ',', decimal = '.')
display(RANABASE)

                     Specie   CLD   CSD  RATIO C   NLD  NSD  RATIO N
0   Limnonectes limnocharis  19.6  13.2     0.67   7.9  4.9     0.62
1    Pyxicephalus adspersus   NaN   NaN      NaN   NaN  NaN      NaN
2          Rana catesbeiana  25.0  12.4     0.50   9.9  5.7     0.58
3                       " "  24.8  15.3     0.62   NaN  NaN      NaN
4                       " "  26.1  13.5     0.52  10.0  5.6     0.56
5                       " "  27.9  15.4     0.55  10.3  5.6     0.54
6                       " "  25.7  14.2     0.55   NaN  NaN      NaN
7            Rana clamitans  22.5  15.0     0.67   NaN  NaN      NaN
8                       " "  23.0  11.9     0.52   NaN  NaN      NaN
9            Rana esculenta  25.4  17.6     0.69   NaN  NaN      NaN
10            Rana japonica  21.8  14.3     0.66   8.9  5.3     0.60
11       Rana nigromaculata  21.8  14.3     0.66   9.3  5.5     0.59
12           Rana palustris  20.4  12.7     0.62   NaN  NaN      NaN
13             Rana pipiens  21.5  12.2     0.57   8.8  5.2     0.59
14                      " "  23.8  16.2     0.68   NaN  NaN      NaN
15                      " "  20.5  13.2     0.64   NaN  NaN      NaN
16              Rana porosa  22.9  14.9     0.65   8.5  5.4     0.64
17              Rana rugosa  26.6  16.1     0.61  12.0  6.4     0.53
18           Rana sylvatica  25.5  16.5     0.65   NaN  NaN      NaN
19               Rana tagoi  24.5  14.2     0.58  10.0  5.7     0.57
20          Rana temporaria  22.9  13.9     0.61   8.2  4.0     0.49
21                      " "  24.6  16.9     0.69   NaN  NaN      NaN
22        Rana tsushimensis  22.2  14.2     0.64   9.5  5.1     0.54