OBIETTIVO: capire ogni pixel a quanti micrometri corrisponde

CI SI RIFERISCE ALL'INGRANDIMENTO 150

In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import os
import sys
import plotly.graph_objects as go 
from scipy.optimize import curve_fit
from scipy.stats import norm
dir_path = os.path.abspath('')
sys.path.append(dir_path + '/../')
from labbiofisica import Interpolazione, final_val

In [2]:
righello = pd.read_csv(dir_path + '/data/righello_150.csv')
righello.head()

   1dmicron to pixel  2dmicron to pixel  5dmicron to pixel  10dmicron to pixel
0                 23                 48              134.0               242.0
1                 22                 47              121.0               211.0
2                 22                 43              106.0               218.0
3                 23                 33              106.0                 NaN
4                 21                 43              111.0                 NaN

In [3]:
mic1 = righello['1dmicron to pixel'].dropna().to_numpy()
mic2 = righello['2dmicron to pixel'].dropna().to_numpy()/2
mic3 = righello['5dmicron to pixel'].dropna().to_numpy()/5
mic4 = righello['10dmicron to pixel'].dropna().to_numpy()/10

pixel_1_dmicron = np.concatenate([mic1, mic2, mic3, mic4])

N = len(pixel_1_dmicron)

p1m_mean = np.mean(pixel_1_dmicron)
p1m_std = np.std(pixel_1_dmicron) * np.sqrt(N/(N-1))
p1m_err = p1m_std/np.sqrt(N)

print(final_val(p1m_mean, p1m_std,1, udm='pixel/dmicron'))

21.9 ± 1.5 pixel/dmicron

In [4]:
# invertendo la relazione

to_dmicron_factor = 1/p1m_mean
to_dmicron_factor_std = p1m_std/p1m_mean**2

print(final_val(to_dmicron_factor, to_dmicron_factor_std,1,exp=-2, udm='dmicron/pixel'))

(4.6 ± 0.3)e-2 dmicron/pixel

In [5]:
eritrociti = righello = pd.read_csv(dir_path + '/data/rana_150.csv')
eritrociti.head()

   CLD  CSD  NLD  NSD
0   51   35   19   10
1   52   26   19    8
2   51   29   17   11
3   46   30   15    9
4   53   29   17   11

In [6]:
CLD = eritrociti['CLD'].dropna().to_numpy()
CSD = eritrociti['CSD'].dropna().to_numpy()
NLD = eritrociti['NLD'].dropna().to_numpy()
NSD = eritrociti['NSD'].dropna().to_numpy()

CLD_mean = np.mean(CLD)
CSD_mean = np.mean(CSD)
NLD_mean = np.mean(NLD)
NSD_mean = np.mean(NSD)

CLD_std = np.std(CLD) * np.sqrt(N/(N-1))
CSD_std = np.std(CSD) * np.sqrt(N/(N-1))
NLD_std = np.std(NLD) * np.sqrt(N/(N-1))
NSD_std = np.std(NSD) * np.sqrt(N/(N-1))

CLD_err = CLD_std/np.sqrt(N)
CSD_err = CSD_std/np.sqrt(N)
NLD_err = NLD_std/np.sqrt(N)
NSD_err = NSD_std/np.sqrt(N)

In [11]:
# CONVERTO IN dmicron

CLD_dmicron = CLD_mean * to_dmicron_factor * 10
CSD_dmicron = CSD_mean * to_dmicron_factor * 10
NLD_dmicron = NLD_mean * to_dmicron_factor * 10
NSD_dmicron = NSD_mean * to_dmicron_factor * 10

CLD_dmicron_std = CLD_dmicron * np.sqrt((CLD_std/CLD_mean)**2 + (to_dmicron_factor_std/to_dmicron_factor)**2)# * 10
CSD_dmicron_std = CSD_dmicron * np.sqrt((CSD_std/CSD_mean)**2 + (to_dmicron_factor_std/to_dmicron_factor)**2)# * 10
NLD_dmicron_std = NLD_dmicron * np.sqrt((NLD_std/NLD_mean)**2 + (to_dmicron_factor_std/to_dmicron_factor)**2)# * 10
NSD_dmicron_std = NSD_dmicron * np.sqrt((NSD_std/NSD_mean)**2 + (to_dmicron_factor_std/to_dmicron_factor)**2)# * 10

print('CLD: ',final_val(CLD_dmicron, CLD_dmicron_std,1, udm='μm'))
print('CSD: ',final_val(CSD_dmicron, CSD_dmicron_std,1, udm='μm'))
print('NLD: ',final_val(NLD_dmicron, NLD_dmicron_std,1, udm='μm'))
print('NSD: ',final_val(NSD_dmicron, NSD_dmicron_std,1, udm='μm'))

CLD:  22.9 ± 2.8 μm
CSD:  13.7 ± 1.8 μm
NLD:  8.2 ± 1.0 μm
NSD:  4.4 ± 0.7 μm